.component {
  display: flex;
  flex-direction: column;

  margin-top: 120px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0 32px ;
}

.component h2 {
  font-size: 48px;
  font-weight: 400;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #000;
  padding: 40px;
}

.section img {
  width: 40px;
  height: 40px;
}

.testimonial {
  font-size: 18px;
}

.testimonialText {
  font-size: 16px;
  text-align: center;
}