.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #212529;
  padding: 12px 0 40px 0;
}

img {
  width: 70px;
  height: 74.375px;
}

.links  {
  display: flex;
  flex-direction: column;
  
}

a {
  text-decoration: none;
  color: #212529;

  padding-left: 861px;
}

.phoneNumber {
  font-size: 19px;
}

.phoneNumber h6 {
  margin-top: 0;
  padding-top: 0;
}