footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    margin-top: 120px;

    color: #212529;
    font-size: 18px;
}

.one {
    display: flex;
    flex-direction: column;

    margin-right: 280px;
}

.one p {
    margin: 0;
}

.two {
margin-right: 256px;
}

.three {
    display: flex;
    flex-direction: row;
    gap: 40px;
}