
.gallery h3 {
    font-weight: 400;
    font-size: 48px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 445px);
    gap: 20px;
    justify-content: center;
}

.grid img {
    width: 446px;
    height: 580px;
}

.photoItem {
    width: 445px;
    height: 580px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.photoItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.photoCaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    opacity: 0;

    width: 445px;
    height: 66px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    transform: translateY(100%);
    transition: all 0.3s ease;
    background: rgba(33, 37, 41, 0.5);
}

.photoTitle {
    color: #FFFFFF;

    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.photoArrow {
    width: 12px;
    height: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowIcon {
    width: 100%;
    height: 100%;

    object-fit: contain;
    filter: brightness(0) invert(1);
    transition: transform 0.2s ease;
}

.photoItem:hover .photoCaption {
    transform: translateY(0);
    opacity: 1;
}

.photoItem:hover img {
    transform: scale(1.05);
}

.photoItem:hover .arrowIcon {
    transform: translateX(2px);
}