.secodTwo {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  gap: 135px;
}

.heading {
  width: 562px;
  height: 198px;
}

.heading h2 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 48px;
}

.paragraph{
  padding-bottom: 44px;

  width: 678px;
  height: 208px;
}

.aboutInfoItem {
  line-height: 0%;
  padding-bottom: 24px;
}

.aboutInfoItem h3 {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

.aboutInfoItem p {
  padding-top: 2px;
  line-height: 1.5;
  font-size: 16px;
}