.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1376px;
}

.oneContainer {
  display: flex;
  flex-direction: column;
}

.oneContainer h1{
  font-size: 72px;
  font-weight: 200;
}

.twoContainer{
  position: relative;
}

.twoContainer a {
  position: absolute;
  right: -75px;
  top: 95px;

  text-decoration: underline;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.containerTwo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerTwoone{
  display: flex;
  flex-direction: column;
}

.containerTwoone p {
  font-weight: 400;
  font-size: 20px;
  color: #212529;
}

.containerTwoone img {
  width: 329px;
  height: 493px;
  padding-top: 220px;
}

.containerTwotwo img {
  width: 678px;
  height: 809px;
  padding-top: 30px;
}